body {  margin:0; } 

h1  {font-family:Verdana,Arial, Helvetica, sans-serif;}
h2  {font-family:Verdana,Arial, Helvetica, sans-serif;}
h3  {font-family:Verdana,Arial, Helvetica, sans-serif;}
h4  {font-family:Verdana,Arial, Helvetica, sans-serif;}
h5  {font-family:Verdana,Arial, Helvetica, sans-serif;}

.testo{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:normal;
        color:#303030; 
   text-align:left;    
} 

.testoerrore{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:bold;
        color:#EE0000; 
} 

a.logout{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px;
  font-weight:bold;
        color:#000099; 
   text-align:center;    
   text-decoration:none;
} 

a.ics{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px;
  font-weight:bold;
        color:#07A712; 
   text-align:center;    
   text-decoration:none;
} 

a.scaricafoto{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:bold;
        color:#ffffff;
   text-align:center;    
   text-decoration:none;
} 

a.icsspenta{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px;
  font-weight:bold;
        color:#C0C0C0; 
   text-align:center;    
   text-decoration:none;
} 

a.abbina_lav{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px;
  font-weight:bold;
        color:#0000BB; 
   text-decoration:none;
}

a.piccolorossoblu{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px;
  font-weight:bold;
        color:#0000C0; 
   text-align:center;    
   text-decoration:none;
} 



.testopiccolo{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:9px;
  font-weight:normal;
        color:#303030; 
   text-align:left;    
} 

.testogrigio{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:9px;
  font-weight:bold;
        color:#909090; 
   text-align:left;    
} 

.testo_bianco{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:bold;
        color:#FFFFFF; 
   text-align:left;    
} 

.linklogin{
 background-color:#808080; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
      font-size:9px;
    font-weight:normal;
          color:#FFFFFF; 
     text-align:left;    
text-decoration: none;   
} 

td.sfondo {
    background-image: url("images/sfondo.jpg"); 
    background-color: #FFFFFF;
}

td.sfondo_login {
    background-image: url("images/sfondo_login.jpg"); 
    background-color: #FFFFFF;
}

td.login {
    background-image: url("images/splash_gea_4.jpg"); 
    background-color: #FFFFFF;
}

.a_voce_menu{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:bold;
        color:#FFFFFF; 
   text-decoration: none;   
} 

td.pad_modifica_modulo{
  border-top-style:solid;
  border-top-color:#8498C5;
  border-top-width:1px;
}

td.pad_modifica_modulo_chiaro{
  background-color: #FFFFFF;
}

.bottone{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:normal;
   background-color:#F0F0F0;
        color:#000000; 
   text-align:center;  
        width:100px;
        height:23px;
}

.bottonelungo{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px;
  font-weight:bold;
   background-color:#F0F0F0;
        color:#606060; 
   text-align:center;  
        width:160px;
        height:20px;
}

.bottonefiltrato{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px;
  font-weight:bold;
   background-color:#FF7E16;
        color:#FFFFFF; 
   text-align:center;  
        width:100px;
        height:20px;
}

.bottoneflux{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:bold;
   background-color:#83BB8E;
        color:#ffffff; 
   text-align:center;  
        width:100px;
        height:23px;
}

fieldset {
        background: #ffffff;
        border: #D4DEE9 solid 1px;
        margin-left:2px;
        padding:1px 3px 6px 6px;
        margin-top:2px;
}
legend.a {
        background: #FFFFFF;
        border: #D4DEE9 solid 1px;
        padding: 1px 10px;
        color: #A1ABB6;
        font-weight:bold;
        font-family:Verdana,Arial, Helvetica, sans-serif;
        font-size:10px;
}


td.voce {
  background:rgb(255,255,255);
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:normal
  }
  
td.hide_lav {
  background:#2B3348;
  color:#FFFFFF;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:bold
  }  
  
td.titolotabella {
  color:black;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:bold;
  }  
  
td.label_campo{
  
  color:#A0A0A0;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:normal;
  border-bottom-style:dotted;
  border-bottom-color:#c0c0c0;
  border-bottom-width:1px;
  }    
  
td.valore_campo{
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:normal;
  border-bottom-style:dotted;
  border-bottom-color:#c0c0c0;
  border-bottom-width:1px;
  }      
  
td.label_campo_hot{
  background:#CC6600;
  color:#ffffff;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:normal;
  }    
  
td.valore_campo_hot{
  background:#ffffff;
  color:#CC6600;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:bold;
  }        
  
select.selectlunga  {
  background:rgb(255,255,255);
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:normal;
  
}

select.selectmediolunga  {
  background:rgb(255,255,255);
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:normal;
 
}

select.selectmedia {
  background:rgb(255,255,255);
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:normal;
  
}

input.bottone{
        width:80px;
       height:19px;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
    font-size:10px;
  font-weight:normal;
  font-weight:bold;
   background:#F0F0F0; 
        color:#606060;
     
}

input.queryadmin{
        width:794px;
       height:19px;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
    font-size:10px;
  font-weight:normal;
  font-weight:bold;
   background:#FFFFFF; 
        color:#440000;
     
}

input.queryadmin{
        width:794px;
       height:19px;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
    font-size:10px;
  font-weight:normal;
  font-weight:bold;
   background:#FFFFFF; 
        color:#440000;
     
}

input.formelegante{
  font-family:Verdana ,Arial, Helvetica, sans-serif;
    font-size:10px;
  font-weight:normal;
  font-weight:bold;
   background:#FFFFFF; 
        color:#000000;
     
}

input.bottone2{
        width:110px;
       height:19px;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
    font-size:9px;
  font-weight:normal;
  font-weight:bold;
   background:#F0F0F0; 
        color:#606060;
     
}

input.bottoneFiltri{
        width:86px;
       height:19px;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
    font-size:9px;
  font-weight:normal;
  font-weight:bold;
   background:#8396BB; 
        color:#FFFFFF;
     
}

input.bottoneFiltriill{
        width:86px;
       height:19px;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
    font-size:9px;
  font-weight:normal;
  font-weight:bold;
   background:#FF7E16; 
        color:#FFFFFF;
     
}


td.cellatitolo { background:#f0f0f0; color:"black"; font-family:Verdana,Arial, 
Helvetica, sans-serif; font-size:8px; font-weight:bold; }

td.consumonormale {   background:rgb(255,255,255); color:black; font-
family:Verdana ,Arial, Helvetica, sans-serif; font-size:8px; font-weight:normal 
height:5px; }  

td.cellanull {   background:#F9F9F9; color:#d0d0d0; font-family:Verdana ,Arial, 
Helvetica, sans-serif; font-size:9px; font-weight:normal height:5px; }      

td.cellaasspre {   background:#F2F4F7; color:#000000; font-family:Verdana 
,Arial, Helvetica, sans-serif; font-size:9px; font-weight:normal height:5px; }      

td.cellaletspe {   background:#F2F4F7; color:black; font-family:Verdana ,Arial, 
Helvetica, sans-serif; font-size:9px; font-weight:normal height:5px; }      

td.cellagriglia {   background:#F2F4F7; color:#303030; font-family:Verdana ,Arial, 
Helvetica, sans-serif; font-size:9px; font-weight:normal height:5px; }    

td.cellagrigliabianca {   background:#FFFFFF; color:#303030; font-family:Verdana ,Arial, 
Helvetica, sans-serif; font-size:9px; font-weight:normal height:5px; }    

td.cellagrigliagiri {   
                      background:#F2F4F7; 
                           color:#303030; 
                     font-family:Verdana ,Arial, Helvetica, sans-serif; 
                       font-size:14px; 
                     font-weight:normal;
                          border:1px solid #d1d4dc; padding:0px 4px 0px 4px;}    

td.cellagrigliabiancagiri {background:#FFFFFF; color:#303030; font-family:Verdana ,Arial, 
Helvetica, sans-serif; font-size:14px; font-weight:normal height:5px; border:1px solid #d1d4dc;  padding:0px 4px 0px 4px;}    

 
a.giri:link {text-decoration:none; font-weight:normal; color:#303090;}
a.giri:visited {text-decoration:none; font-weight:normal; color:#303090;}
a.giri:hover {text-decoration:none; font-weight:normal; color:#303090;}
a.giri:active {text-decoration:none; font-weight:normal; color:#303090;}

td.giribt {text-decoration:none; font-weight:bold; color:#FFFFFF;}
a.giribt:link {text-decoration:none; font-weight:bold; color:#FFFFFF;}
a.giribt:visited {text-decoration:none; font-weight:bold; color:#FFFFFF;}
a.giribt:hover {text-decoration:none; font-weight:bold; color:#FFFFFF;}
a.giribt:active {text-decoration:none; font-weight:bold; color:#FFFFFF;}

a.girisel:link {text-decoration:none; font-weight:bold; color:#f84c08;}
a.girisel:visited {text-decoration:none; font-weight:bold; color:#f84c08;}
a.girisel:hover {text-decoration:none; font-weight:bold; color:#f84c08;}
a.girisel:active {text-decoration:none; font-weight:bold; color:#f84c08;}

  
td.rigacontrollata { background:#B6E5B9; color:black; font-family:Verdana 
,Arial, Helvetica, sans-serif; font-size:9px; font-weight:normal height:5px; }    

td.nonletto{   background:rgb(240,243,253); color:rgb(70,70,70); font-
family:Verdana ,Arial, Helvetica, sans-serif; font-size:9px; font-weight:normal 
}  

td.nontrattato{   background:rgb(253,253,253); color:rgb(205,205,205); font-
family:Verdana ,Arial, Helvetica, sans-serif; font-size:9px; font-weight:normal 
}    

td.girocontatore{   background:rgb(244,241,225); color:black; font-
family:Verdana ,Arial, Helvetica, sans-serif; font-size:9px; font-weight:normal 
}   

td.anomalia{   background:rgb(255,243,243); color:black; font-family:Verdana 
,Arial, Helvetica, sans-serif; font-size:9px; font-weight:normal }

td.vuota {   background:#FFFFFF; font-family:Verdana ,Arial, Helvetica, sans-
serif; font-size:10px; font-weight:normal width:1px; }


td.top_calendari {   background:#4a5975; color:#FFFFFF; font-family:Verdana 
,Arial, Helvetica, sans-serif; font-size:9px; font-weight:bold; }  

td.calendari {   background:#f4ebf6; color:black; font-family:Verdana ,Arial, 
Helvetica, sans-serif; font-size:9px; font-weight:normal }   

td.ripassi_no {   background:#f4ebf6; color:black; font-family:Verdana ,Arial, 
Helvetica, sans-serif; font-size:9px; font-weight:normal }   

td.ripassi_ok {   background:#ded8df; color:#606060; font-family:Verdana ,Arial, 
Helvetica, sans-serif; font-size:9px; font-weight:normal }   

td.calendari_off {   background:#e8d0ec; color:#A0A0A0; font-family:Verdana 
,Arial, Helvetica, sans-serif; font-size:9px; font-weight:normal }     

td.form_calendari {   color:#FFFFFF; font-family:Verdana,Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold;}    
  
td.err_calendari {
  background:#ff3f43;
  color:#FFFFFF;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:bold;
  } 
  
   
  
input.bottonecalendari{
        width:80px;
       height:19px;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
    font-size:10px;
  font-weight:normal;
  font-weight:bold;
   background:#4a5975; 
        color:#FFFFFF;
     
}  
  
    
  
td.toptabletop {
  background:#d2d5dc; 
       color:#606060; 
 font-family:Verdana ,Arial, Helvetica, sans-serif; 
   font-size:14px; 
 font-weight:bold; 
      border:1px solid #c1c4cc;}  
  

td.toptableflux { background:#83BB8E; color:#FFFFFF; font-family:Verdana,Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; }    

td.toptableflux {   background:#83BB8E; color:#FFFFFF; font-family:Verdana,Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; }   

td.toptableflux2 {   background:#F2F7F2; color:#337733; font-family:Verdana,Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; }     

td.didascalie{   color:#707070; font-family:Verdana ,Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; }  

td.toptablevoce {   background:#8396BB; color:#D9E1EF; font-family:Verdana,Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; }    

td.statistichelavorazione {   background:#FFFFFF; color:#606060; font-family:Verdana,Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; }    

td.toptablevoceTOP {   background:#2B3348; color:#C0C0C0; font-family:Verdana,Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; }      

td.toptable{
            background:#d2d5dc; 
                 color:#606060; 
           font-family:Verdana ,Arial, Helvetica, sans-serif; 
             font-size:10px; 
           font-weight:normal; } 

td.toptableletture{
            background:#82858c; 
                 color:#F0F0F0; 
           font-family:Verdana ,Arial, Helvetica, sans-serif; 
             font-size:10px; 
           font-weight:bold; 
                height:20px;
          border: #FFFFFF solid 1px;} 
          
td.toptableletturegiri{
            background:#82858c; 
                 color:#F0F0F0; 
           font-family:Verdana ,Arial, Helvetica, sans-serif; 
             font-size:8px; 
           font-weight:bold; 
                height:20px;
          border: #FFFFFF solid 1px;}           
   
td.toptablefiltrata{background:#de6717; color:#F0F0F0; font-family:Verdana ,Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; }    


table.a {background:rgb(255,255,255);color:black}

td.form_label{
  color:#909090;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:normal;
  text-align:right;
  width:30px;
}

td.form_label_on{
  background:#ffe88e;
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:normal;
  text-align:right;
  width:70px;
}

td.form_label_long{
  color:#909090;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:normal;
  text-align:right;
  width:140px;
}

td.form_label_long_err{
  background:#FF0000;
  color:#FFFFFF;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:normal;
  text-align:right;
  width:140px;
}

input.form_campo{
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:normal;
  text-align:left;
  width:120px;
}

input.form_campo_on{
  background:#fbd005;
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:normal;
  text-align:left;
  width:130px;
}

input.form_campo_long{
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:normal;
  text-align:left;
  width:360px;
}

input.form_campo_long_err{
  background:#FF0000;
  color:#FFFFFF;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:normal;
  text-align:left;
  width:360px;
}

input.form_campo_check{
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:8px;
  font-weight:normal;
  text-align:left;
}

input.form_campo_checked{
  background:#ffe88e
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:8px;
  font-weight:normal;
  text-align:left;
}

.form_campo_checked{
  background:#ffe88e;
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:normal;
  text-align:left;
}

.form_campo_check{
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight:normal;
  text-align:left;
}


input.form_campo_check_on{
  background:#fbd005;
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:8px;
  font-weight:normal;
  text-align:left;
}

.form_campo_check_on{
  background:#ffe88e;
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:8px;
  font-weight:normal;
  text-align:left;
}


.bottone{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px;
  font-weight:normal;
   background-color:#a7b9d3;
        color:#000000; 
   text-align:center;  
        width:100px;
        height:23px;
}

.bottone_quadrato{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:normal;
   background-color:#F0F0F0;
        color:#000000; 
   text-align:center;  
        width:80px;
        height:40px;
}

.bottone_quadrato_on{
  font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
  font-weight:normal;
   background-color:#ffe88e;
        color:#000000; 
   text-align:center;  
        width:80px;
        height:40px;
}





input.gea4{
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:normal;
  text-align:left;
}

select.gea4{
  color:#000000;
  font-family:Verdana ,Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:normal;
  text-align:left;
}